# Introduction
- **pandas** の基本について学ぶ

# Import everything I nead :)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
from sklearn.datasets import load_boston
from sklearn.datasets import load_breast_cancer
from sklearn.datasets import load_digits

# Preparation Data

## iris

In [50]:
iris = load_iris()
data = iris.data
feat_names = iris.feature_names
df_iris = pd.DataFrame(data, columns=feat_names)
df_iris['target'] = iris.target
df_iris.head(3)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0

## Sample

In [51]:
id1 = ['A', 'A', 'A', 'A', 'B', 'B', 'B', 'C', 'C']
id2 = ['a', 'a', 'b', 'b', 'a', 'c', 'c', 'a', 'c']
num = [ 1,   2,   3,   4,   5,   6,   7,   8,   9]

df_smp = pd.DataFrame()
df_smp['id1'] = id1
df_smp['id2'] = id2
df_smp['num'] = num
df_smp

  id1 id2  num
0   A   a    1
1   A   a    2
2   A   b    3
3   A   b    4
4   B   a    5
5   B   c    6
6   B   c    7
7   C   a    8
8   C   c    9

# Basics of Pandas

In [52]:
df_smp

  id1 id2  num
0   A   a    1
1   A   a    2
2   A   b    3
3   A   b    4
4   B   a    5
5   B   c    6
6   B   c    7
7   C   a    8
8   C   c    9

## groupby

In [53]:
# id1 について平均
g1 = df_smp.groupby(['id1']).count()
pd.DataFrame(g1)

     id2  num
id1
A      4    4
B      3    3
C      2    2

In [54]:
# g1: id1 についてカウント
g1 = df_smp.groupby(['id1'])['num'].transform('count').values
df_smp['g1'] = g1
df_smp

  id1 id2  num  g1
0   A   a    1   4
1   A   a    2   4
2   A   b    3   4
3   A   b    4   4
4   B   a    5   3
5   B   c    6   3
6   B   c    7   3
7   C   a    8   2
8   C   c    9   2

---> g1 には、一つ前のセルの通り、A には 4、Bには3、Cには2 が入っている

In [55]:
# g2: [id1, id2] についてカウント
g2 = df_smp.groupby(['id1', 'id2'])['g1'].transform('count').values
df_smp['g2'] = g2
df_smp

  id1 id2  num  g1  g2
0   A   a    1   4   2
1   A   a    2   4   2
2   A   b    3   4   2
3   A   b    4   4   2
4   B   a    5   3   1
5   B   c    6   3   2
6   B   c    7   3   2
7   C   a    8   2   1
8   C   c    9   2   1

---> 例) Aかつa は 2種類、Bかつaは1種類

In [56]:
# max
g3 = df_smp.groupby(['id1', 'id2'])['num'].transform('max').values
df_smp['g3'] = g3
df_smp

  id1 id2  num  g1  g2  g3
0   A   a    1   4   2   2
1   A   a    2   4   2   2
2   A   b    3   4   2   4
3   A   b    4   4   2   4
4   B   a    5   3   1   5
5   B   c    6   3   2   7
6   B   c    7   3   2   7
7   C   a    8   2   1   8
8   C   c    9   2   1   9

In [58]:
# mean
g4 = df_smp.groupby(['id1', 'id2'])['num'].transform('mean').values
df_smp['g4'] = g4
df_smp

  id1 id2  num  g1  g2  g3   g4
0   A   a    1   4   2   2  1.5
1   A   a    2   4   2   2  1.5
2   A   b    3   4   2   4  3.5
3   A   b    4   4   2   4  3.5
4   B   a    5   3   1   5  5.0
5   B   c    6   3   2   7  6.5
6   B   c    7   3   2   7  6.5
7   C   a    8   2   1   8  8.0
8   C   c    9   2   1   9  9.0

## query

In [84]:
# == について
# 以下は同じ意味

_ = df_iris[df_iris['target']==0]
_ = df_iris[df_iris['target'].isin([0])]

_ = df_iris.query('target==0')
_ = df_iris.query('target in [0]')
_.head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [82]:
# 以下は同じ意味
_ = df_iris[(df_iris['target']==0) | (df_iris['target']==1)]
_ = df_iris[df_iris['target'].isin([0, 1])]

_ = df_iris.query('target in [0, 1]')
_.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

# Usefull Function

## reduce_mem_usage
- DataFrame のメモリの使用領域の最適化
- ref: https://qiita.com/nannoki/items/2a8934de31ad2258439d
- 例えば、データフレーム内のある列のデータは、本当にint32型が好ましいのかなどをチェックしている。そこまでのビット数が必要でないのであれば、int16型にするなどの変更が行われている。

In [19]:
def reduce_mem_usage(df):
    """ iterate through all the columns of a dataframe and modify the data type
        to reduce memory usage.        
    """
    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is      : {:.2f} MB'.format(start_mem))
    
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
        else:
            df[col] = df[col].astype('category')

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    
    return df


def do_it(dict_):
    df = pd.DataFrame(dict_.data)
    df = reduce_mem_usage(df)

In [20]:
# sklearn のデータ・セットで確認
do_it(load_boston())
print('-' * 80)
do_it(load_breast_cancer())
print('-' * 80)
do_it(load_digits())
print('-' * 80)
do_it(load_iris())

Memory usage of dataframe is      : 0.05 MB
Memory usage after optimization is: 0.01 MB
Decreased by 74.9%
--------------------------------------------------------------------------------
Memory usage of dataframe is      : 0.13 MB
Memory usage after optimization is: 0.03 MB
Decreased by 75.0%
--------------------------------------------------------------------------------
Memory usage of dataframe is      : 0.88 MB
Memory usage after optimization is: 0.22 MB
Decreased by 75.0%
--------------------------------------------------------------------------------
Memory usage of dataframe is      : 0.00 MB
Memory usage after optimization is: 0.00 MB
Decreased by 73.8%